@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* GLOBAL */
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
}

/* UTILITY */
.hidden{
    display: none;
}
hr.x-solid{
    border-bottom: 1px solid #f1f1f1;
}

/* HEADER */
header h1 {
    text-align: center;
    margin: 0;
}

 /* MAIN */
.main-container{
    display: flex;
    height: calc(100% - 3rem);
    background-image: url(../images/landscape-horizon-mountain-cloud-sunrise-sunset-916051-pxhere.com.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
@media(max-width: 1080px){
    .main-container{
        height: calc(100% - 2rem);
    }
}

/* TASK LIST */
.sec-list{
    padding: 1rem;
    flex: 7;
    overflow-y: auto;
}

/* TASK */
.task-block{
    margin: 1rem 0 1rem 0;
    padding-top: 1rem;
    display: flex;
    background-color: white;
    border-radius: 10px;
}
.task-block:hover{
    background-color: #eeeeee;
}

.task-block .task-importance{
    flex: 0.1;
}
.task-block .task-importance i{
    font-size: 20px;
}
.content{
    padding: 0 0.5rem 0 0.5rem;
    flex: 10;
    display: flex;
    justify-content: space-around;
}
.content .task-title{
    width: 70%;
}
.content .task-title h4{
    font-weight: 700;
}
.content .task-info{
    color: #0077ff;
}
.content .task-status{
    width: 8%;
}

#btnAddMobile{
    display: none;
    position: fixed;
    bottom: 1rem;
    left: 45%;
    border-radius: 50%;
    border-color: #198754;
    color: white;
    background-color: #198754;
}
#btnAddMobile:hover{
    border-color: #197347;
    background-color: #197347;
}

@media(max-width: 1080px){
    .content{
        flex-direction: column;
        padding-right: 2rem;
    }
    .content .task-title{
        width: 100%;
    }
    .content .task-info, .content .task-status{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #btnAddMobile{
        display: inline;
    }
}

/* FORM */
.sec-form{
    flex: 3;
    background-color: #fdcb6da8;
    display: flex;
}
.sec-form .form{
    padding: 1rem;
    flex: 1;
}
.group{
    display: flex;
    width: 100%;
    margin-bottom: 0.5rem;
}
.group label{
    font-weight: 400;
    flex:2;
}
.group input, .group textarea, .group select{
    flex: 8;
}
.sec-form .icon{
    padding: 1rem 0.5rem 0 0.5rem;
    flex: 0.001;
}
#btnAddTask{
    width: 100%;
}
#btnHide{
    cursor: pointer;
}
#icoImportant{
    font-size: 24px;
    cursor: pointer;
}

@media(max-width: 1080px){
    .sec-form{
        display: none;
    }
    #btnHide{
        display: none;
    }
}

/* FOOTER*/
footer p{
    text-align: center;
}